/* body {
    color: #fff;
    background-color: #63a4ff;
} */

  .highlight {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .bold {
    padding-left: 1rem;
    font-weight: 700;
  }
  .blue {
    background-color: darkblue;
  }
 
  .header {
    padding: 30px;
    color: darkblue;
    font-size: 30px;
    font-weight: bolder;
  }

  .sider {
    padding: 150px;
    color: darkblue;
    font-size: 20px;
    font-weight: 100;
  }

  .buttons{
    color: darkblue;
    font-weight: bold;
  }

  .subtitle{
    color:  navy;
    font-weight: bolder;
  }
 
  .hidebar {
    color: black;
  }

  .fineprint{
      color: black;
      font-size: 10px;
  }
  .finebold{
    color: black;
    font-size: 10px;
    font-weight: bold;
}


.ophighlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.opbold {
  padding-left: 1rem;
  font-weight: 700;
}
.opblue {
  background-color: lightcoral;
}
.opred {
  background-color: lightblue;
}